<div class="container-fluid d-flex justify-content-center w-100 bg-light">
	<div class="col-xxl-8 col-lg-12" style="background-color: #fff;">
		<h3 class="bg-info m-3 p-2 ">Indkøbskurv</h3>
		<div class="row">
			<div class="offset-4 col-4 text-center p-4" *ngIf="basketTotal == 0">
				<i class="fa-solid fa-cart-plus fa-4x"></i>
				<h4>Din indkøbskurv er tom</h4>
				<a href="" class="w-100"><button type="button" class="btn btn-success w-100 rounded-pill">Find produkter i butikken</button></a>
			</div>
			<div class="col text-center" *ngIf="basketTotal != 0">
				<div class="row border-bottom mx-3 py-3" *ngFor="let items of cartItems">
					<div class="col-3">
						<img [src]="'http://localhost:5001/api/product/photo/'+ image(items.productId)[0].imageName" alt="" width="150" height="150">
					</div>
					<div class="col-3 text-start">
						<a [routerLink]="'/product/'+items.productId" class="text-decoration-none"><h5 class="mb-1 link-primary">{{items.title}}</h5></a>
						<p>Varenummer: <strong>{{items.productId}}</strong></p>
					</div>
					<div class="col-1">
						<input type="number" #inputNumber [(ngModel)]="items.quantity" step="1" min="1"  onchange="if(this.value>5) this.value = 5" (ngModelChange)="onQuantityChange(items, inputNumber)" class="w-50">stk
					</div>
					<div class="offset-1 col-3 d-flex flex-row justify-content-between pe-2">
						<h5 *ngIf="items.discountID != null">{{(items.price - (items.price * (items.discountAmount! / 100))) | currency}}</h5>
						<h5 *ngIf="items.discountID != null">{{(items.price - (items.price * (items.discountAmount! / 100))) * items.quantity | currency}}</h5>
						<h5 *ngIf="items.discountID == null">{{items.price * items.quantity | currency}}</h5>
						<h5 *ngIf="items.discountID == null">{{items.price | currency}}</h5>
					</div>
					<div class="col-1 position-relative">
						<button type="button" (click)="removeItem(items)" class="btn-close pt-0 position-absolute" style="top: 4px; right: 1rem; filter: invert(44%) sepia(34%) saturate(1246%) hue-rotate(316deg) brightness(92%) contrast(89%)!important; opacity: 1!important;" aria-label="Close"></button>
					</div>
				</div>
				<div class="row m-2">
					<div class="offset-9 col-3">
						<p class="text-end pe-2" style="font-size: 20px;">{{basketTotal | currency}}</p>
						<div class="d-flex flex-row gap-3">
							<a href="" class="w-50"><button class="btn btn-secondary w-100">Køb mere</button></a>
							<button class="btn btn-primary w-50" (click)="checkOut()">Gå til kassen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
