.list-group-item-action:hover 
{
	background-color: #e8e8e8;
	color: var(--bs-primary);
}

select 
{
	background-position: right .75rem bottom .65rem;
}

.card img, .card .cursor 
{
	cursor: pointer;
}
