<div class="position-relative">
	<div class="position-relative">
		<label class="form-label">{{label}}</label>
		<span *ngIf="required" class="text-danger form-text">*</span>
		<div class="form-text text-danger position-absolute end-0 top-0" *ngIf="errorMessage !== ''">{{errorMessage}}</div>
	</div>
	<input autocomplete="off" [type]="type" class="form-control" [value]="valueBind" (change)="valueBindChange.emit(inputEl.value)" (focusout)="validate(inputEl)" #inputEl [required]="required">
</div>
